# Database connection string
DATABASE_URL=
# Or use a PG connection string
#DATABASE_URL=postgresql://127.0.0.1:5432/your-database-name
# Used to encrypt JWT tokens
PAYLOAD_SECRET=
# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=
# Secret used to authenticate cron jobs
CRON_SECRET=
# Used to validate preview requests
PREVIEW_SECRET=
# Added by Payload

# Cloudinary --------------------------------------------------------------
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# API KEYS --------------------------------------------------------------

#Music
#Should have the type you are searching
DEEZER_API_ENDPOINT=https://api.deezer.com/search/album

#Movies/TV Series
OMDB_API_KEY_URL=

# Comics
COMIC_VINE_API_KEY_URL=
COMIC_VINE_API_KEY=

#Anime/Mangas
ANI_LIST_API_URL=

#Books
